@import "../../styles/mixin.scss";

.remonth {
    padding-bottom: 80px;
    background-color: #fff;
    min-height: 800px;

    .content {
        padding: 20px;

        .amount-title {
            font-weight: 700;

            .color-num {
                font-weight: 500;
                color: var(--main-color);
                margin: 0 7px;
            }
        }

        .block-title {
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            button {
                width: 35px;
                height: 35px;
                border: 1px solid #B0B0B0;
                border-radius: 50%;
                justify-content: center;
            }
        }

        .filter-box {
            .list {
                align-items: flex-start;
                border-top: 1px solid #f2f2f2;
                padding: 15px 0;
            }

            .list-name {
                width: 85px;
                max-width: 85px;
                min-width: 85px;
            }

            .date-title {
                cursor: pointer;
            }

            .selected-date {
                color: var(--main-color);
            }

            .input {
                margin-top: 10px;
                justify-content: space-between;

                input {
                    width: 125px;
                    margin-right: 10px;
                    border: 1px solid rgb(210, 210, 210);
                    padding: 1px 3px;
                    border-radius: 2px;
                }
            }

            .ft {
                width: 100%;
                justify-content: space-between;
                border-bottom: 1px solid #f2f2f2;
    
                .clear {
                    gap: 5px;
                }
            }
        }

        .remonth-card {
            position: relative;
            border-radius: 6px;
            overflow: hidden;
            border: 1px solid rgb(210, 210, 210);
            margin: 20px 0;
            cursor: pointer;

            .img-ct {
                position: relative;
                height: 200px;

                .image {
                    flex: 1;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .filter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgb(0, 0, 0);
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
                }

                .user {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    color: #fff;
                    padding: 20px;
                    justify-content: space-between;
                    align-items: flex-end;

                    .user-img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    .card-num {
                        padding: 2px 6px;
                        background: rgba(0, 0, 0, 0.5);
                        border-radius: 3px;
                    }
                }
            }

            .card-info {
                padding: 20px;

                .card-title {
                    width: 100%;
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 19px;
                    font-weight: 700;
                    margin-bottom: 12px;
                    line-height: 2.7rem;
                }

                .card-review {
                    width: 100%;
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-bottom: 14px;
                    line-height: 2.5rem;
                }

                .card-date {
                    gap: 4px;
                    padding-top: 14px;
                    color: #A0A0A0;
                    border-top: 1px solid rgb(210, 210, 210);
                }
            }
        }
    }
}

@include mobile {
    .content {
        margin-top: 52px;
    }
}