.remonth {
    padding-bottom: 80px;

    .title {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 16px;
        z-index: 9;
    
        .page-name {
            position: absolute;
            top: 16px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .content {
        margin-top: 52px;

        .remonth-card {
            position: relative;

            .img-ct {
                height: 376px;

                .card-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-info {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 16px;
                color: #fff;

                .user {
                    .user-img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
            }
           
        }

        
    }

}
