.mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    // border-top: 1px solid #EDEDED;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    // border-top: 1px solid #f0f0f0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.08);

    .flex {
        height: 100%;

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex: 1;
            gap: 10px;
            opacity: 0.6;
            cursor: pointer;
        }
        
        .selected {
            position: relative;
            opacity: 1;
            color: #3876BF;

            .underline {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #9FBB73;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
            }
        }
    }
}