.myMoment {
    padding-bottom: 80px;
    background-color: #fff;

    .page-title {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 376px;
        padding: 16px;
        z-index: 9;
        background-color: #fff;

        .page-name {
            position: absolute;
            top: 16px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .content {
        margin-top: 52px;
    }

    .user-area {
        border-bottom: 10px solid rgb(247, 249, 250);

        .user {
            padding: 16px;

            .user-img {
                border-radius: 50%;
                margin-bottom: 7px;
            }

            .name {
                font-size: 21px;
                font-weight: 900;
                color: rgb(41, 42, 50);
                margin-bottom: 7px;
            }

            .email {
                font-size: 13px;
                color: rgb(116, 116, 123);
            }
        }

        .userCard-num {
            border-top: 1px solid rgb(244, 244, 247);

            .flex {
                flex: 1;
                flex-direction: column;
                padding: 20px 0;
                gap: 4px;
                color: #74747B;
                font-size: 14px;

                .num {
                    font-size: 16px;
                    font-weight: 700;
                    color: #000;
                }
            }
        }
    }

    .block {
        padding: 16px;

        .block-title {
            justify-content: space-between;
            margin-bottom: 20px;

            .color-num {
                color: #35C5F0;
                margin: 0 6px;
            }

            button {
                width: 40px;
                height: 40px;
                border: 1px solid #B0B0B0;
                border-radius: 50%;
                justify-content: center;
            }
        }

        .photo-grid {

            .photo {
                height: 108px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }

        }
    }

    .moment-card {
        position: relative;
        margin-bottom: 50px;

        .moment-card-title {
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .user {
            .user-img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
            .flex {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .img-ct {
            position: relative;
            width: 100%;
            height: 247px;
            border-radius: 6px;
            overflow: hidden;

            // .filter {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background: rgb(0, 0, 0);
            //     background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(0, 0, 0, 0.5) 100%);
            // }

            .new-tag {
                position: absolute;
                top: 20px;
                left: 20px;
                background-color: #FF0558;
                border-radius: 4px;
                padding: 3px 6px;
                text-transform: uppercase;
                color: #fff;
                font-size: 14px;
            }
        }

        .card-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-info {
            flex-direction: column;
            align-items: flex-start;

            .card-title {
                font-weight: 600;
                width: 100%;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin: 5px 0;
            }

            
        }

        .card-util {
            justify-content: space-between;
            padding: 10px 0;

            .flex {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }
    }
}