.remonth-detail {
    padding-bottom: 80px;
    background-color: #fff;

    .content {
        padding-top: 52px;
    }

    .img-ct {
        position: relative;
        height: 200px;

        .image {
            flex: 1;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .filter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
        }

        .user {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #fff;
            padding: 20px;
            justify-content: space-between;

            .user-img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .card-num {
                padding: 2px 6px;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 3px;
            }
        }
    }

    .detail-info {
        padding: 20px;

        .detail-title {
            font-size: 19px;
            font-weight: 700;
            margin-bottom: 12px;
            line-height: 2.7rem;
        }

        .detail-review {
            width: 100%;
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 16px;
            margin-bottom: 24px;
            line-height: 2.5rem;
            color: #787878;
        }

        .detail-util{
            font-size: 14px;
            color: #8c8c8c;
        }
    }

    .util-list {
        border-top: 1px solid rgba(210, 210, 210, 0.3);
        border-bottom: 1px solid rgba(210, 210, 210, 0.3);
        color: #67686a;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            padding: 15px;
            margin: 3px;
            gap: 7px;
            border-radius: 5px;

            &:hover {
                background-color: rgba(41, 42, 50, 0.08);
                color: rgb(41, 42, 50);
            }
        }

        .on {
            color: rgb(255, 47, 110);

            &:hover {
                color: rgb(255, 47, 110);
            }
        }
    }

    .content-body {
        .card-area {
            padding: 30px;
            // background-color: #F8F8F8;

            .category-card {
                margin-bottom: 50px;

                .category-name {
                    display: block;
                    color: #FF0558;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 12px;
                    text-transform: uppercase;
                }

                .title-area {
                    border-left: 6px solid #515151;
                    padding-left: 20px;

                    li {
                        opacity: 0.7;
                        padding: 2px 0;
                    }

                    .title-title {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 2.5rem;
                        margin-bottom: 20px;
                        opacity: 1;
                    }

                    .tags {
                        margin-left: 5px;
                        gap: 5px;
                    }
                }

                img {
                    width: 100%;
                    height: 181px;
                    display: block;
                    max-height: 181px;
                    min-height: 181px;
                    margin: 45px 0 15px;
                    object-fit: cover;
                    border-radius: 4px;
                }

                .review {
                    line-height: 2.5rem;
                }
            }
        }
    }
}