// * {
//     outline: 1px solid #f00;
// }

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, "Noto Sans KR",
    sans-serif;
    color: #191B1C;
}

.flex {
    display: flex;
    align-items: center;
}