// * {
//     outline: 1px solid #f00;
// }

body {
    position: relative;
    font-family: "Pretendard Variable", Pretendard, -apple-system, "Noto Sans KR",
    sans-serif;
    color: #191B1C;
    background: #F5F5F5;

    &::-webkit-scrollbar {
        display: none;
    }
}

.wrapper {
    width: 376px;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.flex {
    display: flex;
    align-items: center;
}