// * {
//     outline: 1px solid #f00;
// }

body {
    position: relative;
    font-family: "Pretendard Variable", Pretendard, -apple-system, "Noto Sans KR",
    sans-serif;
    color: #191B1C;

    &::-webkit-scrollbar {
        display: none;
    }
}

.wrapper {
    height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
}