.remonth-form {
        background-color: #fff;
        padding-bottom: 100px;

    .form-ct {
        padding: 16px;
    }

    .selected-num {
        justify-content: flex-end;
        gap: 8px;

        .flex {
            gap: 5px;

            .num {
                strong {
                    color: #35c5f0;
                }
            }
        }
    }

    .block {
        background-color: #fff;
        padding: 16px 0;

        .block-title {
            margin-bottom: 15px;
        }

        .input {
            width: 100%;
            border: 1px solid #EBEBEB;
            border-radius: 5px;
            padding: 15px 20px;
        }
    }

    .mySwiper {
        overflow-x: visible;

        .card-item {
            .card-img {
                width: 100%;
                height: 109px;
                border-radius: 5px;
                overflow: hidden;

                .on {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 109px;
                    background-color: rgba(0, 0, 0, 0.7);
                    border-radius: 5px;
                    justify-content: center;

                    .flex {
                        flex-direction: column;
                        gap: 10px;
                        color: #35c5f0;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .select-area {
        padding: 16px;
        border-top: 10px solid rgb(247, 249, 250);
    }

    .btn-area {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 376px;
        z-index: 9;


        .button {
            background-color: #35c5f0;
            color: #fff;
            width: 100%;
            padding: 20px;
        }
    }
}