@import "../../styles/mixin.scss";

.remonth-form {
        background-color: #fff;
        padding-bottom: 100px;
        min-height: 900px;

    .form-ct {
        padding: 20px;
    }

    .selected-num {
        justify-content: flex-end;
        gap: 8px;
        color: #8A8A8E;
        padding-top: 20px;

        .flex {
            gap: 5px;

            .num {
                strong {
                    color: #5784E6;
                    color: var(--main-color);
                    font-weight: 500;
                }
            }
        }
    }

    .block {
        background-color: #fff;
        padding: 20px 0;

        .block-title {
            margin-bottom: 16px;
            font-weight: 600;
        }

        .input {
            width: 100%;
            border: 1px solid #EBEBEB;
            border-radius: 5px;
            padding: 15px 20px;
        }
    }

    .mySwiper {
        overflow-x: visible;

        .card-item {
            cursor: pointer;
            
            .card-img {

                .img-ct {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    border-radius: 5px;
                    overflow: hidden;

                    .on {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.7);
                        border-radius: 5px;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 700;
    
                        .flex {
                            flex-direction: column;
                            gap: 10px;
                            color: var(--main-color);
                        }
                    }
                }
               
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-item-name {
                width: 100%;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 2.8rem;
                font-size: 15px;
                font-weight: 600;
                padding: 5px 0;
            }

            .card-item-date {
                color: #8A8A8E;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    .select-area {
        padding: 20px;
        border-top: 10px solid rgb(247, 249, 250);
    }

    .btn-area {
        width: 100%;
        padding: 0 20px;

        .button {
            background-color: var(--main-color);
            color: #fff;
            width: 100%;
            padding: 20px;
            border-radius: 7px;
        }
    }
}

@include mobile {
    .remonth-form {
        padding-top: 80px;
    }

    .btn-area {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 376px;
        z-index: 9;
        padding: 0 !important;

        .button {
            background-color: #35c5f0;
            color: #fff;
            width: 100%;
            padding: 20px;
            border-radius: 0px !important;
        }
    }
}