.title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 9;
    justify-content: space-between;

    .page-name {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 700;
    }
}