.builder {
    .builder-ct {
        padding: 16px;

        .builder-title {
            position: relative;
            margin-bottom: 30px;

            .title {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .form-area {
            .block {
                .block-title {
                    margin-bottom: 15px;
                }
            }
        }

        .builder-category-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(25, 27, 28, 0.1);
                gap: 13px;
                border-radius: 100px;
                opacity: 0.7;
                padding: 8px 20px;
            }
        }

        .button {
            background-color: #337EA9;
            color: #fff;
            border-radius: 10px;
            width: 100%;
        }
    }
}