@import "../../styles/mixin.scss";

.calendar {
  padding: 20px 0;

  // react-calendar custom
  .react-calendar {
    position: relative;
    font-family: "Pretendard Variable", Pretendard, -apple-system, "Noto Sans KR",
      sans-serif;
    border: none;
    width: 100%;
  }

  .react-calendar__navigation__label {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .react-calendar__navigation {
    justify-content: flex-end;
  }

  .react-calendar__tile--now {
    background: rgba(255, 46, 109, 0.1);
    border: 1.5px solid rgba(255, 46, 109, 0.5);
    color: #191B1C;
  }

  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    color: #191B1C;
  }

  .react-calendar__navigation__label>span {
    color: #191B1C;
    font-size: 20px;
    font-weight: 700;
  }

  .react-calendar__tile {
    position: relative;
    padding-bottom: 100px;
  }

  .react-calendar__month-view__weekdays__weekday {
    abbr {
      text-decoration: none;
    }
  }

  .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .date-modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(25, 27, 28, 0.5);
    z-index: 999;

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 376px;
      min-height: 300px;
      background-color: #fff;
      padding: 35px 30px;
      border-radius: 22px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      z-index: 999;

      .inner {
        width: 100%;

        .date-title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 40px;
        }
  
        ul {
          li {
            gap: 16px;
            padding-bottom: 42px;
            align-items: flex-start;
            cursor: pointer;
  
            .color-box {
              width: 16px;
              min-width: 16px;
              height: 16px;
              border-radius: 3px;
            }

            .music { background-color: #F4F27E;}
            .book { background-color: #994D1C;}
            .video { background-color: #35A29F;}
            .food { background-color: #9ADE7B;}
            .item { background-color: #DC8686;}
            .place { background-color: #A78295;}
            .workout { background-color: #3085C3;}
            .moment { background-color: #606C5D;}

            .card-title {
              width: 100%;
              white-space: normal;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              line-height: 2.7rem;
              font-weight: 500;
              margin-top: -7px;
            }

            .category-name {
              display: block;
              margin-top: 6px;
              color: #74747B;
              font-size: 14px;
            }
          }
        }
      }

      .modal-btn-area {
        width: 100%;
        justify-content: flex-end;

        .category-btn {
          background-color: var(--main-color);
          border-radius: 50%;
          width: 45px;
          height: 45px;
          color: #fff;
          font-size: 20px;
          font-weight: 900;
          justify-content: center;
        }
      }
    }
  }
}

@include mobile {
  .react-calendar__tile {
    padding-bottom: 75px !important;
  }
}