@import "../../styles/mixin.scss";

.myPage {
    background-color: #fff;
    padding-bottom: 80px;
    min-height: 900px;

    .user-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px 20px;
        font-size: 24px;
    }

    .background {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.56);
    }

    .user-modal {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: #fff;
        padding: 0 20px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px;
        z-index: 10000;

        li {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px solid rgb(241, 243, 245);
            cursor: pointer;
        }

        .close {
            justify-content: center;
            color: var(--main-color);
        }
    }

    .content {
        .user-area {
            border-bottom: 10px solid rgb(247, 249, 250);

            .user {
                padding: 30px 20px;

                .user-img {
                    width: 96px;
                    height: 96px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-bottom: 7px;
                }

                .name {
                    font-size: 21px;
                    font-weight: 900;
                    color: rgb(41, 42, 50);
                    margin-bottom: 7px;
                }

                .email {
                    font-size: 13px;
                    color: rgb(116, 116, 123);
                }
            }

            .userCard-num {
                border-top: 1px solid rgb(244, 244, 247);

                .flex {
                    flex: 1;
                    flex-direction: column;
                    padding: 20px 0;
                    gap: 4px;
                    color: #74747B;
                    font-size: 14px;

                    .num {
                        font-size: 16px;
                        font-weight: 700;
                        color: #000;
                    }
                }
            }
        }

        .block {
            padding: 30px 20px 20px;

            .block-title {
                justify-content: space-between;
                margin-bottom: 20px;
                font-weight: 600;

                .color-num {
                    color: var(--main-color);
                    margin: 0 5px;
                    font-weight: 500;

                }

                button {
                    color: var(--main-color);
                }
            }

            .mySwiper {
                .card-item {
                    aspect-ratio: 1 / 1;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 7px;
                    }
                }
            }

            .builder-btn {
                width: 100%;
                border: 1px solid #EBEBEB;
                border-radius: 6px;
                padding: 10px;
                margin-top: 15px;
            }
        }
    }
}

@include mobile {
    .content {
        margin-top: 52px;
    }
}

@include tablet {
    .user-modal {
            bottom: 20px;
            width: 600px !important;
            border-radius: 12px;
            overflow: hidden;
        }
}

@include desktop {
    .user-modal {
        bottom: 20px;
        width: 600px !important;
        border-radius: 12px;
        overflow: hidden;
    }
}