@import "../../styles/mixin.scss";

.comment-form {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 998;

    .comment-form-title {
        padding: 16px;
        z-index: 998;
        justify-content: space-between;
        border-bottom: 1px solid rgba(210, 210, 210, 0.3);
    }

    .content {
        padding: 20px;

        input {
            width: 100%;
            border: none;
            outline: none;
        }
    }
}


@include mobile {
    .comment-form {
        position: fixed;
        top: 0;
        left: 0;
        
        .content {
            margin-top: 0px;
        }
    }
}

@include tablet {}

@include desktop {}