@import "../../styles/mixin.scss";

.detail {
    position: relative;
    background-color: #fff;

    .user-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 24px;
    }

    .content-ct {
        .detail-img {
            width: 100%;
            height: 354px;
            object-fit: cover;
        }

        .content {
            padding: 0 20px;
            margin-top: 0px;

            .title-box {
                flex-direction: column;
                gap: 15px;
                padding: 30px 0;

                .detail-title {
                    font-size: 30px;
                    font-weight: 600;
                    text-align: center;
                    line-height: 3.6rem;
                }

                .detail-info {
                    gap: 5px;
                }

                .profile {
                    gap: 5px;

                    img {
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }
                }

                .like-box {
                    color: #A0A0A0;
                    gap: 12px;
                    font-weight: 300;
                    font-size: 14px;
                }
            }

            .util-list {
                border-top: 1px solid rgba(210, 210, 210, 0.3);
                border-bottom: 1px solid rgba(210, 210, 210, 0.3);
                color: #A0A0A0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    padding: 15px;
                    gap: 7px;
                    margin: 3px;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(41, 42, 50, 0.08);
                        color: rgb(41, 42, 50);
                    }
                }

                .on {
                    color: rgb(255, 47, 110);

                    &:hover {
                        color: rgb(255, 47, 110);
                    }
                }
            }

            .box-list {
                padding: 20px 0;
            }
        }

        .block {
            margin-bottom: 50px;

            .block-title {
                margin-bottom: 10px;
            }
        }

        .review {
            .review-content {
                background-color: #F9F9F9;
                line-height: 2.5rem;
                border-radius: 6px;
                padding: 16px;
            }
        }

        .tags {
            .tag-box {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                row-gap: 10px;
                margin-bottom: 30px;

                .tag {
                    background-color: #e6e7e9;
                    color: #0057FF;
                    padding: 5px 7px;
                    border-radius: 5px;
                    box-shadow: rgba(176, 184, 193, 0.125) 0px 0px 8px 8px;
                }
            }

        }

        .gallery {
            .flex {
                gap: 10px;
                flex-direction: row;
                flex-wrap: wrap;

                .image {
                    flex: 1;
                    height: 227px;
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .success-box {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #0057FF;
        width: 350px;
        z-index: 10000;
        text-align: center;
        padding: 16px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #fff;
        border-radius: 4px;
        font-weight: 500;
    }

    .background {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.56);

       
    }

    .user-modal {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: #fff;
        padding: 0 20px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px;
        z-index: 10000;

        li {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px solid rgb(241, 243, 245);
            cursor: pointer;
        }

        .close {
            justify-content: center;
            color: rgb(255, 47, 110);
        }
    }
}

@include mobile {
    .user-btn {
        display: none;
    }

    .detail {
        margin-top: 52px;
        padding-bottom: 80px;
    }
}

@include tablet {

    .background {
        .user-modal {
            bottom: 20px;
            width: 600px;
            border-radius: 12px;
            overflow: hidden;
        }
    }
}

@include desktop {
    .background {
        .user-modal {
            bottom: 20px;
            width: 600px;
            border-radius: 12px;
            overflow: hidden;
        }
    }
}