.category-list {
    border-top: 10px solid rgb(247, 249, 250);
    padding: 30px 20px;

    .title {
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;

        p {
            font-size: 24px;
            font-weight: 500;
        }
    }

    li {
        justify-content: space-between;
        margin-bottom: 24px;
        padding-right: 15px;

        .name {
            gap: 10px;
        }

        .color {
            width: 16px;
            height: 16px;
            background-color: #DBB2B2;
            border-radius: 3px;
        }
    }
}